* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   .grid {
    padding: 1em;
   }
   
   .grid-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5em;
   }
   
   .item {
    flex: 1 1 100%;
    padding: 0.5em;
   }
   
   .item-inner {
    background-size: cover;
    background-image: url(/img1.jpg);
    padding-top: calc(100% / (16/9));
   }
   
   .item:nth-child(2) .item-inner {
    background-image: url(/img4.jpg);
   }
   .item:nth-child(3) .item-inner {
    background-image: url(/img5.jpg);
   }
   .item:nth-child(4) .item-inner {
    background-image: url(/img6.jpg);
   }
   .item:nth-child(5) .item-inner {
    background-image: url(/img7.jpg);
   }
   .item:nth-child(6) .item-inner {
    background-image: url(/img8.jpg);
   }
   .item:nth-child(7) .item-inner {
    background-image: url(//img10.jpg);
   }
   .item:nth-child(8) .item-inner {
    background-image: url('https://picsum.photos/seed/8/640/400');
   }
   .item:nth-child(9) .item-inner {
    background-image: url('https://picsum.photos/seed/9/640/400');
   }
   .item:nth-child(10) .item-inner {
    background-image: url('https://picsum.photos/seed/10/640/400');
   }
   .item:nth-child(11) .item-inner {
    background-image: url('https://picsum.photos/seed/11/640/400');
   }
   .item:nth-child(12) .item-inner {
    background-image: url('https://picsum.photos/seed/12/640/400');
   }
   
   @media screen and (min-width: 480px) {
    .item {
     flex: 1 1 50%;
    }
   }
   
   @media screen and (min-width: 768px) {
    .item {
     flex: 1 1 33.333%;
    }
   }
   
   @media screen and (min-width: 980px) {
    .item {
     flex: 1 1 25%;
    }
   }
