body{
padding:10px;
}
.wrapper{
dispaly:grid;
    grid-template:repeat(auto-fit,minmax(400px,ifr))
        grid-gap:5px;
}
img {
    width:100%;
    border-radius:20px;
}
.box{
    padding:10px;
}
